*, *:before, *:after {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}
  

body{
    width: 100%;
    height: 100%;

    background-color: #F3F3F3;

    font-family: 'Roboto';
    font-size: 14px;
}

strong{
    font-weight: bold;
}

.logIn-Screen{
    width: 100%;
    height: 100%;

    background-color: #FFFFFF;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    font-size: 18px;
    line-height: 25px;

    padding: 72px 0px;

    position: fixed;
    z-index: 10;
  
}

.logIn-Screen img{
    width: 130px;
    padding-bottom: 70px;
    }

.logIn-Screen input{
    width: 261px;
    height: 54px;

    border: 1px solid #D7D7D7;
    border-radius: 4px;

    text-align: center;
    font-size: inherit;
    line-height: inherit;
    
}

.logIn-Screen button{
    width: 109px;
    height: 45px;

    background: #E7E7E7;

    border: none;
    border-radius: 9px;

    font-size: inherit;
    line-height: inherit;
    color: #696969;
}




.chat-Screen{
    width: 100%;
    height: 100%;

    background-color: #E5E5E5;
}


header{
    width: 100%;
    height: 80px;
    
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    padding: 0px 25px;

    position: fixed;
    top: 0px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header img{
    width: 75px;
    object-fit: contain;
}

header ion-icon{
    font-size: 45px;
}


footer{
    width: 100%;
    height: 80px;
    
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    

    padding: 15px 18px 10px 18px;

    position: fixed;
    bottom: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.User-SendBox{
    max-width: 90%;
    height: 100%;

    display: flex;
    flex-wrap: wrap; 
}

.User-SendBox input{
    width: 100%;
    font-size: 18px;

}

.User-SendBox input::placeholder{
    width: 100%;
    font-size: 18px;
    color: black;
    font-style: italic;
}

.User-SendBox div{

    height: 1em;

    color: #696969;

    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
 
}

footer ion-icon{
    font-size: 30px;
}

.container{
    padding: 100px 0px;
    height: 100%;

    background-color: #F3F3F3;
}

.container ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.container ul li{
    width: 100%;
    min-height: 40px;

    padding: 1em 1em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    overflow: hidden;
    
}

.status{
   background: #DCDCDC;

}

.message{
    background: #FFFFFF;
}

.private_message{
    background: #FFDEDE;

}

.container p{

line-height: 17px;
word-break: break-word;
vertical-align: text-top;
}

user-text{
    display: inline-block;
    font-weight: bold;
    max-width: 16ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: inherit;
}

time-text{
    color: #696969;  
    vertical-align: inherit;
  
}

.chat-options{
width: 100%;
height: 100%;

display: flex;
flex-direction: row-reverse;

position: fixed;
top: 0px;
right: -100vw;
z-index: -1;

transition: all 0.5s ease-in-out;
}

.chat-options-show{
right: 0vw;
z-index: 5;

transition: all 0.5s ease-in-out;
}

.background-options{
width: 100%;
height: 100%;
position: fixed;
right:0px;

background-color: rgba(1, 0, 0);
opacity: 0.0;

transition: all 0.5s ease-in-out;

}

.background-options-show{ 
opacity: 0.6;
transition: all 0.5s ease-in-out;
}

.options-menu{
    max-width: 260px;
    height: 100%;
    
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    z-index: 10;

    font-size: 16px;
}

.options-menu > h1{

    width: inherit;

    padding: 20px 45px;

    text-align: center;
    font-weight: bold;
}

.user-list{
    max-height: 60vh;

    overflow: scroll;
}

.options-menu li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    padding: 0px 10px;
}

.icon-name{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.icon-name h1{
    height: 1em;
    width: 160px;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.options-menu ion-icon{
    padding: 5px;
    font-size: 25px;
}

ion-icon[name="checkmark"]{
    color: #28BB25;
    font-size: 15px;
    --ionicon-stroke-width: 120px;
}


disconnected, .disconnected h1, .disconnected ion-icon{
    text-decoration: line-through;
    opacity: 0.5;
    color: #696969;
}

.hidden{
    display: none;
}




