html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}
  
body{
    width: 100%;
    height: 667px;

    background: #F3F3F3;

    font-family:'Roboto';
    size: 14px;
    line-height: 16.41px;
}

.tela-login{
    width: 100%;
    height: 100%;


    padding: 72px 10px;
    background-color: #FFFFFF;
    
    position: fixed;
    top: 0px;
    z-index: 10;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}

.tela-login img{
    height: 92px;
    margin-bottom: 94px;
    font-size: 18px;
}

.tela-login input{
    width: 260px;
    height: 54px;

    color: #AEAEAE;
    font-weight: 400;
    line-height: 25px;

    border: 1px solid #D7D7D7;
    border-radius: 4px;

    margin: 15px;
  
    font-style: normal;
    text-align: center;
   
}

.tela-login input ::placeholder, ::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #AEAEAE;
    opacity: 1; /* Firefox */
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  

.tela-login button{
    width: 109px;
    height: 45px;

    border: none;
    border-radius: 9px;

    background: #E7E7E7;

    font-size: 18px;
    color: #696969; 
}

.menu{
width: 100%;
height: 100%;

position: fixed;
top: 0px;
z-index: 20;

display: flex;
flex-wrap: wrap;
}

.opcoes{
    width: 260px;
    height: 100%;
    
    background: #FFFFFF;

    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 25;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcoes nav{
    width: 100%;
}

.user-list{
    max-height: 60vh;
    overflow: scroll;
}

.opcoes li{
    width: 100%;
}

.icon-name{
    width: 100%;
    height: 30px;

    padding: 0px 10px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.icon-name h1{
    width: 60%;
    text-align: start;
    font-size: 16px;

}


.icon-name ion-icon{
    padding: 5px;

    font-size: 25px;
}

ion-icon[name="checkmark"]{
color: #28BB25;
position: absolute;
right: 0px;

}

.texto-menu{
text-align: center;
font-size: 16px;
font-weight: 700;

padding: 32px;

}


ul, li{
    list-style-type: none;
    display: flex;
}

.fundo{
    width: 100%;
    height: 100%;

    
    background-color: rgba(0, 0, 0, 0.6);
}




header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;

    padding: 0px 22px;

    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

strong{
font-weight: bolder;
}

.logo{
    height: 53px;
}

header ion-icon{
    font-size: 45px;
}

footer{
    width: 100%;
    height: 80px;

    position: fixed;
    bottom: 0px;

    padding: 15px 17px;
    
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

footer ion-icon{
    font-size: 30px;
    padding: 5px;
}

.caixa-texto-usuario{
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer input{
border: none;

font-size: 18px;
font-weight: 400;
line-height: 25px;
}

footer input ::placeholder, ::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:black;
    opacity: 1; /* Firefox */
    font-style: italic;
    font-weight: 400;
    line-height: 21.09px;
  }


.encaminhado{
    color: gray;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}


section{
    padding: 80px 0px;
    margin-top: 26px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}


.caixa-mensagem{
    min-height: 40px;
    width: 100%;

    border-radius: 2px;

    display: flex;
    align-items: center;
}

.caixa-mensagem h1{
    width: 100%;

    padding: 12px 8px;

    overflow-wrap: break-word;
}

.status{
    background: #DCDCDC;
}

.message{
    background: #FFFFFF;
}

.private_message{
    background: #FFDEDE;

}

.hidden{
    display: none;
}


.teste{
background-color: grey;
display: flex;
flex-direction: column;
position: fixed;
top: 50%;
right: 0px;
}

.teste button{
font-size: 8px;
}